body {
    background-color: rgb(116, 49, 194);
}

body {
    color: white;
}

input[type=checkbox]:checked + label.strikethrough{
    text-decoration: line-through;
    color: green;
}

.checkboxPanel {
    margin: auto;
    width: 40%;
    border: 3px solid white;
    padding: 10px;
    text-align: center;
}

.checkboxes {
    margin: auto;
    width: 40%;
    padding-left: 10%;
    border: 3px solid white;
    text-align: left;
}

.optionsDiv {
    float: right;
    width: 30%;
}

#removeItemButton:checked + label{
    color: red;
}
